<h1>Write a News Entry!</h1>

<%= form_tag(news_entry_path, method: "get") do %>
	<div>
		<%= label :title, "Title: " %>
		<%= text_field_tag :title %>
	</div>
	<div>
		<%= label :person, "A person's name: " %>
		<%= text_field_tag :person %>
	</div>
	<div>
		<%= label :city, "City: " %>
		<%= select_tag :city, options_for_select(["", "Smallville", "Gainsville"]) %>
	</div>
	<%= submit_tag("Show it!") %>
<% end %>